{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ShellSpace - Home</title>
        <meta charset="utf-8">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>q


        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <h1>ShellSpace</h1>
        </header>
        <main>
            <section class="prime">
                <p>A simple file-sharing site for simple and power users alike.</p>
            </section>
            <section class="secondary">
                <p>
                    Features:

                    <ul>
                        <li>Keyboard Centric</li>
                        <li>CLI Friendly</li>
                        <li>blah</li>
                        <li>blah blah...</li>
                    </ul>
                </p>
            </section>
            <a href="#">
                <div id="prime-button">Upload</div>
            </a>
        </main>
        <footer>
        </footer>
    </body>
</html>

